form{
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    align-content: flex-end;
    justify-content: center;
    align-items: stretch;
    width: 20rem;
    margin: 0 auto;
}
